@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"); */

:root {
  --color-primary: #a78b71;
  --color-secondary: #6e9075;
  --color-background: #f9f6f1;
  --color-text: #3a3a3a;
}

.dark {
  --color-primary: #8a725f;
  --color-secondary: #5a7860;
  --color-background: #2d2d2d;
  --color-text: #e9e9e9;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease;
}
